.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid ; */
}
.button{
    border:none;
    border-radius:100px;
    margin-top: 2rem;
    padding:0.5rem 1.3rem;
    color:#ffffff;
    font-weight: 500;
    font-size: 1.4rem;
    background-color: #F25D3C;
}
.button:hover{
    padding:0.6rem 1.4rem;
    background-color: #f25d3cd5;
    transition: ease-out 100ms;
}
.icon {
    padding-left: 20px;
    font-size: 50px;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 30px;

}
